nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  top: 0%;
  z-index: 10;
}
nav > h1 {
  text-transform: uppercase;
}
nav > main {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
nav > main > a {
  color: rgb(44, 44, 44);
  margin: 1rem;
  text-decoration: none;
}
nav > main > a:hover {
  color: #5853ff;
}