.home {
  width: 100%;
  height: 100vh;
  background-color: #090c31;
  border-radius: 0 0 200px 200px;
}
.home > main {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 2rem;
  justify-content: center;
}
.home > main h1 {
  font: 400 6rem "Roboto";
  color: white;
}
.home > main p {
  font: 900 1rem "Roboto";
  color: white;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: no-repeat center/auto url("../assets/1.png");
  filter: blur(3px);
  border-radius: 0 0 200px 200px;
}

.home2 {
  width: 100%;
  height: 100vh;
  background-color: #090c31;
  padding: 500px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}
.home2 > img {
  width: 30%;
  animation: imgUp 0.7s linear infinite alternate;
}
.home2 > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  height: 100vh;
}
.home2 > div p {
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  font: 100 1.2rem cursive;
}

@keyframes imgUp {
  to {
    transform: translateY(-10px);
  }
}
.home3 {
  width: 100%;
  height: 120vh;
  background-color: #090c31;
  margin-top: -200px;
  display: flex;
}
.home3 > div {
  width: 70%;
  height: 100vh;
  background-color: white;
  border-radius: 0 200px 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.home3 > div > h1 {
  text-transform: uppercase;
  border-bottom: 2px solid rgb(44, 44, 44);
  padding: 0.5rem;
  width: 15rem;
  color: rgb(44, 44, 44);
}
.home3 > div > p {
  padding: 5rem;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 170%;
  font: italic 100 1.2rem cursive;
}

.home4 {
  width: 100%;
  height: 100vh;
  background-color: #090c31;
  display: flex;
  justify-content: flex-end;
}
.home4 > div {
  background-color: #5853ff;
  border-radius: 200px 0 0 200px;
  width: 70%;
  height: 70vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home4 > div > h1 {
  color: white;
  text-transform: uppercase;
  width: 140px;
  border-bottom: 2px solid white;
  padding: 0.5rem;
}
.home4 > div > article {
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
}
.home4 > div > article > div {
  animation: imgUp 0.7s linear infinite alternate;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(44, 44, 44);
  cursor: pointer;
  transition: all 0.5s;
}
.home4 > div > article > div:hover {
  filter: invert(1);
}
.home4 > div > article > div svg {
  font-size: 4rem;
}
.home4 > div > article > div p {
  font: 900 1.2rem cursive;
}